body {
    font-family: 'Poppins', sans-serif;
}
.container {
    display: flex;
    margin: 0px 100px 50px 100px;

}
h1 {
    font-size: 45px;
}
#focused-head {
    font-family: 'Yeseva One', cursive;
    border-left: 5px solid red;
    padding-left: 10px;
}
.orange-color {
    color: #FFAD5A;
}
.half-width {
    width: 50%;
    margin: auto 50px;
    
}
.half-width img {
    width: 70%;
    margin: auto 100px;
}
#href-tag {
    text-decoration: none;
    background-color: #FF5959;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    margin: 100px auto;
}
#mission {
    text-align: center;
    font-weight: 700;
}
#blue-color {
    color: #13103A;
}
.one-third {
    width: 33%;
    margin: 0 10px;
    padding: 30px 20px;
    border: 1px solid none;

    border-radius: 25px;
}
.one-third img {
    width: 40%;
}
#green-color {
    background-color: #4F9DA6;
}
#red-color {
    background-color: #FF5959;
}
#yellow-color {
    background-color: #FFF4D6;
}
.forty-sixty img {
    width: 80%;
    height: 90%;
}
h2 {
    margin: 5px auto;
}

